* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #AD8B73;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #FFFBE9;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color:  #3E3232;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8F0E5;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #E3CAA5;
    color:  #3E3232;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #3E3232;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(To-Do-Img/checked.png);
}

.invalid-entry {
    flex: 1;
    display: none;
    font-size: 15px;
    color: #3E3232;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 30px;
}